{% comment %} Ingredient list and Search feature - used on Home page {%
endcomment %} {% comment %} Search {% endcomment %}
<div class = 'colone'>
    <h2 class = 'list_title'>{{header}}</h2>

    <form class="mb-3" method="get">
        <div class="field has-addons">
            <div class="control">
            <input
                class="input"
                type="text"
                name="ingredient"
                placeholder="Search Ingredients"/>
            </div>
            <div class="control">
            <input class="button is-success" type="submit" value="Search" />
            <input
                type="button"
                onclick="location.href='{% url 'home' %}'"
                value="Clear Search"/>
            </div>
        </div>
    </form>
    {% comment %} Ingredient list {% endcomment %}
    <div class="ingredient_filtered_list">
    {% for ingredient in ingredients%}
        {% if ingredient.ingredient_boo == False%}
            <div class = 'inline'>
                <td><a class = 'icon' href='{% url 'ingredient_update' ingredient.id %}'>+</a></td>
                <h4 class = 'ings'>{{ingredient.ingredient}}</h4>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
