<h2>My Ingredients</h2>

<script>
    function toggleList(ingredient){
        ingredient.ingredient_string = "list"
    }
</script>

{% comment %} Ingredient list {% endcomment %}
<div class="my_ing_list">
    {% for ingredient in ingredients%}
        {% if ingredient.ingredient_string == "mylist"%}
            <div class = 'inline'>
                <button class = 'icon' onclick=toggleList(ingredient)>-</button>
                <h4>{{ingredient.ingredient}}</h4>
            </div>
        {% endif %}
    {% endfor %}
</div>