/* *{
    border: 2px;
    border-color: red;
    border-style: solid;
} */

a {
    color: #23022E;
    text-decoration: none;
}

a.nav_link {
    color: #F9EBFE;
    font-weight: bold;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Able', sans-serif;
    padding: 1% 2%;
    margin: 1% 2%;
}

button {
    color: #23022E
}

h1 {
    color: #23022E;
    text-align: center;
}

nav {
    text-align: center;
}

li,
.nav_bar {
    text-align: center;
    display: inline-block;
    margin: 8px;
    text-align: center;
}

.base_style {
    color: #1D3526;
    border-color: #1D3526;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
}

.colone {
    background-color: #1C424A;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    height: 400px;
    padding: 5px;
}

.coltwo {
    background-color: #E08300;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    height: 400px;
    padding: 5px;
}

.colthree {
    background-color: #8A0538;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    height: 400px;
    padding: 5px;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-wrap: wrap;
}

.control {
    padding: 5px;
}

.drink_list {
    flex-direction: row;
}

.drink_name{
    background-color: #1D3526;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    padding: 5px;
}

.header_text, .footer {
    background-color: #23022E;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    justify-content: center;
    text-align: center;

}

.ings {
    display: inline-block;
    font-size: 20px;
}

.ings_list{
    color: #E08300;
}

.icon {
    font-size: 30px;
    color: #E08300;
}

.icon_two {
    font-size: 40px;
    color: #1C424A;
}

.infoText {
    text-align: center;
}

.inline {
    flex-direction: column;
}

.list_title {
    text-align: center;
}

a.lList{
    text-decoration:underline;
    font-size: 18px;
}

.my_lists{
    font-size: 30px;
    font-weight: bold;
}

.nav {
    color: #F9EBFE;
    padding: 10px;
    background-color: #23022E;
    border-radius: 4px;
    font-size: 20px;
}

.nav_bar {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.site_name {
    align-items: center;
}

.site_title {
    color: white;
    background-color: #23022E;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    border-radius: 10px;
}