/* *{
    border: 2px;
    border-color: red;
    border-style: solid;
} */

a{
    color: #23022E;
}

body{
    display: flex;
    flex-direction: column;
    padding: 1% 4%;
    margin: 1% 4%;
}

button{
    color: #23022E;
}

h1{
    color: #23022E;
    text-align: center;
}

.ings{
    display: inline-block;
}

.icon{
    font-size: 30px;
    color: green;
    height: 35px;
    width: 35px;
}

nav {
    text-align: center;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.header_text{
    justify-content: center;
}

a.nav_link{
    color: #F9EBFE;
}

.drink_list{
    flex-direction: row;
}

.footer{
    text-align: center;
}

.infoText{
    text-align: center;
}

.inline{
    flex-direction: column;
}

li, .nav_bar {
    text-align: center;
    display: inline-block;
    margin: 8px;
    text-align: center;
}


.nav_bar{
    text-align: center;
}

.nav{   
    color: #F9EBFE;
    padding: 8px;
    background-color: #23022E;;
    border-radius: 4px;
}

.site_name{
   align-items: center;
}

.flex-item{
    margin:auto
}

