{% extends 'partials/_base.html' %} 
{% block content %} 
{% include 'partials/_navbar.html' %}

<br/>
<div class="add_update base_style">
  <div class="update">
    <h2 class = 'drink_name'>{{drinks.drink_name}}</h2>
    <h3>Ingredients: </h3>
    <h4 class = 'inline ings_list'>{% for each in drinks.drink_ingredients%}
      {{each}} -  
    {% endfor %}</h4>
    <h3>Recipie</h3>
    <p>{{drinks.recipie}}</p>
    <p> Glass: {{drinks.glass}}</p>
    <br/>
      <p class = 'inline'>{% for each in drinks.tags%}
          {{each}} - 
        {% endfor %}</p>

    <button class = 'update_button'><a href = '{% url 'cocktail_update' drinks.id %}'>Update</a></button>
  </div>
</div>
{% include 'partials/_footer.html' %} 
{% endblock %}
